<launch>
<node pkg="baxter_traj_streamer" type="traj_interpolator_as" name="traj_interpolator_as"/>
<node pkg="baxter_cartesian_moves" type="baxter_cart_move_as" name="baxter_cart_move_as"/>
<node pkg="kristina_hmi" type="hand_detect_server" name="hand_detect_server"/>
<node pkg="marc_gripper" type="gripper_motor_node" name="gripper_motor_node"/>
<node pkg="rviz" type="rviz" name="rviz"/>

<include file ="$(find cwru_baxter_sim)/kinect_xform.launch"/>
<include file ="$(find cwru_baxter_sim)/baxter_world.launch"/>
<include file ="$(find cwru_baxter_launch)/yale_gripper_xform.launch"/>

</launch>
